#sebBackground {	
	background-color : #3A6EA5;
}

#sebWindow {
	background-color : #3A6EA5;
} 

#sebErrPage {
	background-color : #3A6EA5;
}

#sebLoadPage {
	background-color : #3A6EA5;
	background-image: url("chrome://seb/content/images/loader.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#loadingBox {
	width: 18px;
	height: 18px;
	position: fixed;
	top: 10px;
	right: 4px;
}

#loadingImage {
	width: 18px;
	height: 18px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

#toolBox {
	background-color : green;
	height: 36px;
}

#toolBar {
	background-color : red;
	max-height: 38px;
	min-height: 38px;
}

.tbBtn {
	cursor: pointer;
}

.winHiddenChromeMargin {
	margin-top: 6px;
}
