body {
	padding: 30px;
	font-family: courier;
}

#sebTable {
	margin-top: 20px;
	width : 100%;
}

th {
	background: #aaa;
	color: #fff;
}

tbody > tr:nth-child(even) {
	background: #ddd;
}

tbody > tr:nth-child(odd) {
	background: #fff;
}

td {
	padding:3px 10px;
}

#th-id {
	width: 35%;
}

#th-ip {
	width: 35%;
}

#th-shutdown, #th-reboot, #th-runtest {
	width: 10%;
	white-space: nowrap;
}

.td-shutdown, .td-reboot, #td-runtest {
	text-align: center;
}

#message {
	/*display: block;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	*/ 
}
